.createPlaceForm,
.createKeywordForm {
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.updatePlaceForm,
.updateKeywordForm,
.createKeywordForm {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    clear: both;
}

.createPlaceLabel,
.updatePlaceLabel,
.createKeywordLabel,
.updateKeywordLabel {
    float: left;
}
  
.createPlaceInput,
.updatePlaceInput,
.createKeywordInput,
.updateKeywordInput {
    display: block;
    margin-left: 15vw;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.keywordSearchInput {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.createPlaceInput:focus,
.updatePlaceInput:focus,
.createKeywordInput:focus,
.updateKeywordInput:focus,
.keywordSearchInput:focus {
    background-color: gold !important;
}
  
.addPlaceButton,
.createPlaceSaveButton,
.deletePlaceButton,
.updatePlaceButton,
.updatePlaceSaveButton,
.addKeywordButton,
.createKeywordSaveButton,
.deleteKeywordButton,
.updateKeywordButton,
.updateKeywordSaveButton,
.toggleKeywordListButton {
    background-color: orange;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 5px;
}

.addPlaceButton:hover,
.createPlaceSaveButton:hover,
.deletePlaceButton:hover,
.updatePlaceButton:hover,
.updatePlaceSaveButton:hover,
.addKeywordButton:hover,
.createKeywordSaveButton:hover,
.deleteKeywordButton:hover,
.updateKeywordButton:hover,
.updateKeywordSaveButton:hover,
.toggleKeywordListButton:hover {
    background-color: gold;
}

.keywordSearchInput:hover {
    background-color: gold;
}

.deletePlaceButton,
.deleteKeywordButton {
    margin-top: 5px;
    margin-right: 5px;
}

.updatePlaceButton,
.updateKeywordButton {
    margin-top: 5px;
    margin-left: 5px;
}

.updatePlaceSaveButton,
.updateKeywordSaveButton {
    margin-top: 10px;
    margin-left: 150px;
}

.createPlaceSaveButton,
.createKeywordSaveButton {
    margin-top: 10px;
}

.createPlaceFormRow,
.updatePlaceFormRow,
.createKeywordFormRow,
.updateKeywordFormRow {
    margin-top: 5px;
}

.placeButtons {
    clear: both;
}

.addKeywordButton {
    float: right;
    clear: both;
}