body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: orange;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map {
  border: solid 1px orange;
  margin-top: 10px;
  color: black;
  width: 70vw;
  height: 40vh;
}

.map > div:first-child {
  position: relative !important;
}

.content {
  margin: auto;
  width: 100%;
  height: 100%;
  width: fit-content;
}

.placesList, .keywordsList {
  z-index: 1;
  position: relative;
}

.placeListTitle:hover, .keywordListTitle:hover {
  color: gold !important;
  cursor: pointer;
}

.placeListTitle, .keywordListTitle {
  color: orange;
  font-weight: bold;
}

.placeTitle:hover, .keywordTitle:hover {
  cursor: pointer;
}

.placeListObject, .keywordListObject {
  margin-top: 5px;
  padding: 0 5px 5px 5px;
  clear: both;
  overflow: hidden;
}

.linearGradient {
  background-image: linear-gradient(to left, #282828 , #000000);
}

.goldenButton {
  background-color: gold !important;
}

.keywordInfo {
  margin-bottom: 10px;
}